@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #ccc5b9;
    background-image: url("/IceTalk_FrontEnd/site/folders/img/ice.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
  }
:root{
    --red:#b9ccbd;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--dark);
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background:#b9ccbd;
}
.home-img img{
    width: 30%;
    margin-left: 50%;
}
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #b9ccbd !important; 
}
input{
    background-color: #FFF79C;
}

.navbar-brand img {
    max-width: 40px; 
    height: auto; 
    display: block; 
    margin-top: 5px; 
    border-radius: 50%; 
}


.navbar-nav .nav-link {
    color: #000000; 
}


.navbar-nav .nav-item .nav-link:hover {
    color: #FF96C5; 
}


.btn {
    background-color: #FF96C5; 
    color: #FFFFFF; 
    border: none;
   
}

#blur {
    background-color: #ffffff9f;
    border-radius: 10px;
  
}

.btn:hover {
    background-color: #FF7EB9; 
}
.mt-5{
    background-color: #ffffff;
    padding: 20px 20px 30px 20px;
    margin-bottom: 200px;
    border-radius: 10px;
}

#img{
    max-width: 100%; 
    height: auto; 
    display: block; 
    padding-bottom: 5%;
}

.container{
    background-color: #b9ccbd;
}


  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; 
    flex: 1 1 300px; 
  }

  .card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .card-text {
    padding: 15px;
    background-color: #f8f9fa; 
  }

  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #FF96C5; 
  }

  .names {
    text-align: center;
    font-size: 16px;
  }

#textarea {
  width: 80%; 
  max-width: 600px; 
  height: 600px; 
  margin: 0 auto; 
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  color: #333; 
  display: block; 
  text-align: left;
}


#textarea:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
